body{
    background-color: black;
    font-size: 22px;
    color: seashell;
    opacity: 9;
    font-family: Helvetica;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 69px;
    border-bottom: 1px solid seashell;
}
.navigation{
    list-style-type: none;
    display: flex;
    text-decoration: underline;
    gap: 20px;
}
#mission {
    background-image: url('../images/img-mission-background.jpg');
    height: 700px; /* Set desired height */
}
#locations {
    background-image: url('../images/img-locations-background.jpg');
    height: 500px; /* Set desired height */
}
#mission, #locations {
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image */
    width: 100%; /* Set desired width */
    max-width: 1200px; /* Optional: Limit maximum width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; 
}
.mission-mes, .month-tea{
    text-align: center;
    background-color: black;
    width: 100%;
}
#featured-tea {
    width: 1000px;
    margin: 100px auto;
}
.image {
    object-fit: cover;
    width: 300px;
    height: 200px;
    padding: 10px;
}
.block-img {
    justify-content: center;
    width: 100%;
}
.block-img, .directions{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.directions {
    justify-content:space-evenly;
    width: 90%;
}
.locations-title {
    margin: 15px auto;
    text-align: center;
    width: 100%;
}
.location {
    background-color: black;
    opacity: 1;
    width: 300px;
}
#contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}
footer {
    margin-left: 20px;
}